@page
@using EventLib.model;
@model EventAPP.Pages.EventsPages.DrinkIndexModel
@{
}
<h1>Oversigt over lager</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Drink Type</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quanity</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var e in @Model.alledrinks)
        {
            <tr>
                <td>
                    @e.Id
                </td>
                <td>
                    @e.Drinktype
                </td>
                <td>
                    @e.Name
                </td>
                <td>
                    @e.Price
                </td>
                <td>
                    @e.Quanity
                </td>
                @if (Model.IsAdmin)
                {
                    <td>
                        <a asp-page="DeleteDrink" asp-route-id="@e.Id">Delete</a> | <a asp-page="EditDrink" asp-route-id="@e.Id">Edit</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
@if (Model.IsAdmin){
<p>
    <a asp-page="CreateDrink"> Create a drink</a>
</p>
}
