@page
@using EventLib.model;
@model EventAPP.Pages.EventsPages.IndexModel
@{
    ViewData["Title"] = "Events"
}

<h1>Oversigt over kommende events</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Event type</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model.kommendeevents)
        {
        
          <tr>
                    <td>
                        @list.Id
                    </td>
                    <td>
                        @list.Name
                    </td>
                    <td>
                        @list.Description
                    </td>
                    <td>
                        @list.Date
                    </td>

                    @if(list is EventEnum)
                    {
                    EventEnum en = list as EventEnum;
                    <td>@en.</td>
                    }
          </tr>
   
        }
       </tbody>
</table>

<p>
    <a asp-page="Create">Opret et event</a>
</p>